<mat-card class="example-card">
  <div class="logBox">
  <mat-card-header>
    <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>
  <span *ngIf="isDashboardPage()"><br />Redirigé, il est nécessaire de se connecter pour  accéder au dashboard</span>
  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="blabla@mail.com" formControlName="mail" name="mail" value="" required/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Mot de passe" type="password" formControlName="password" name="password" value="" required/>
        </mat-form-field></td>
      </tr></table>
      <mat-card-actions>
        <button mat-raised-button type="submit" [disabled]="profileForm.invalid" color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</div>
</mat-card>
